<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiagramGeneratorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DiagramGeneratorUI.Properties.Settings>
            <setting name="AnalysisBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CollectionFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="StartClass" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludePublicAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeProtectedAssociations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeInternalAssociations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludePrivateAssociations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeInheritance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiagramFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalysisDepth" serializeAs="String">
                <value>1</value>
            </setting>
        </DiagramGeneratorUI.Properties.Settings>
    </userSettings>
</configuration>